body {
  background-color: #DBDFFD;

}

.bio-font {
  font-family: 'Courgette', cursive;
  text-align:justify;
}

.other-font {
  font-family: 'Libre Baskerville', serif;
}

.thing {
  display:none;
}

.thing.open {
  display: block;
}

.achiev {
  display:none;
}

.achiev.open {
  display: block;
}

.row-div {
  margin-left: auto;
}

.container {
  margin: 20px 0;
  text-align: center;
}

.candidate-name-mar {
  margin:1% 0 0 20%;
}

.candidate-title-mar {
  margin-left: 20%;
}

.candidate-img {
  width:100%;
  border-radius: 100%;
}

.circle-img {
  width: 15%;
  margin:10px;
}
@media (max-width: 500px) {
  .candidate-img {
    width:50%;
    border-radius: 100%;
    margin:20px 0;
  }
  .circle-img {
    width: 25%;
    margin:5px;
  }
  .candidate-name-mar {
    margin:0;
  }
  .candidate-title-mar {
    margin-left: 0;
  }
}

.header-info {
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
}

.top-info-hello {
  text-align: left;
}

.contact-img {
  margin: 10px;
  color: white;
}

.contact-info {
  text-align: center;
  background-color: #242F9B;
}

#testimoneals {
  padding: 8% 20%;
  background-color: #DBDFFD;
  text-align: justify;
}

.testimoneals-img {
  width : 20%;
}

.ed-sk-ex {
  width:50%;
  text-align: center;
  margin: auto;
}
