body {
  background-color: #DBDFFD;
}

.cv-div-img {
  font-size: 150px;
  display: inline;
}

.header-info {
  margin-top: 5px;
  margin-left: 200px;
  width: 500px;
}

.top-info-img-div {
  margin-left: 330px;
  margin-right: 100px;
  text-align: center;
}

.top-info-links {
  position: absolute;
  font-size: 1rem;
  top: 260px;
  left: 450px;
}

.cover-letter {
  text-align: justify;
  width: 500px;
}

.top-info {
  text-align: center;
  margin-bottom: 80px;
}

.top-info-hello {
  margin-left: 500px;
  text-align: left;
}

img {
  border-radius: 100%;
  width: 80%;

}

.contact-img {
  margin: 10px;
  color: white;
}

.contact-info {
  margin-top: 50px;
  text-align: center;
  background-color: #242F9B;
}

a {
  text-decoration: none !important;
}

a:hover {
  font-weight: bold;
  font-style: italic;
}
